$padding: 24px;

body {
    padding: $padding;
    font-family: 'Roboto';
    color: white;
    // background: url('background.jpg') no-repeat center center fixed;
    // background-size: cover;
    background-color: black;
    -webkit-app-region: drag;
}

.clearfix {
    float: none;
    clear: both;
}

.ui-module {
    position: absolute;
    z-index: 1;
}

.cpu-load {
    left: $padding;
    bottom: $padding;
}

.cpu-temperature {
    left: 274px;
    bottom: $padding;
}

.gpu-temperature {
    left: 524px;
    bottom: $padding;
}

.memory {
    left: 774px;
    bottom: $padding;
}

.datetime {
    top: $padding;
    right: $padding;
    -webkit-app-region: drag;
}

.weather {
    top: 114px + $padding*2;
    right: $padding;
}

.calendar {
    top: $padding;
    left: $padding;
}