.radial-chart {
    position: relative;

    svg {
        .unfilled-path {
            fill: none;
            stroke: #555;
        }

        .border {
            fill: none;
            stroke: #888;
        }

        .filled-path {
            fill: none;
            transition: stroke-dashoffset 400ms;
        }
    }

    .radial-chart-text {
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        .radial-chart-title {
            font-size: 32px;
            font-family: 'Roboto Condensed';
        }

        .radial-chart-value {
            font-size: 16px;
        }
    }
}