.calendar {
    .calendar-day {
        float: left;
        width: 800px;

        .calendar-tile-wrapper {
            .calendar-tile {
                float: left;
                width: 500px;
                margin-bottom: 10px;
                box-sizing: border-box;
                background-color: black;

                >* {
                    margin: 0 12px 0 0;
                    font-size: 22px;
                    display: inline-block;
                    line-height: 28px;
                    height: 28px;
                    vertical-align: middle;
                }
                
                span {
                    width: 127px;
                }

                h3 {
                    width: 297px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .calendar-tile-type {
                    background-color: orange;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
        }
    }

    .separator {
        float: left;
        width: 1px;
        height: 264px;
        margin: 0 15px 0 15px;
        background-color: white;
    }
}