.calendar {
    .calendar-day {
        float: left;
        width: 800px;

        .calendar-tile-wrapper {
            .calendar-tile {
                float: left;
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;

                >* {
                    margin: 0 12px 0 0;
                    margin-right: 12px;
                    font-size: 22px;
                    display: inline-block;
                    line-height: 24px;
                    height: 24px;
                    vertical-align: middle;
                }

                .calendar-tile-type {
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    border: solid 2px white;

                    &.calendar-0 {
                        background-color: #47bf3b;
                    }
    
                    &.calendar-1 {
                        background-color: #409ce3;
                    }
                }
            }
        }
    }

    .separator {
        float: left;
        width: 1px;
        height: 264px;
        margin: 0 15px 0 15px;
        background-color: white;
    }
}