.calendar {
    .calendar-day {
        float: left;
        width: 336px;

        .calendar-tile-wrapper {
            .calendar-tile {
                float: left;
                width: 100%;
                border-left: solid 12px;
                padding: 12px;
                margin-bottom: 15px;
                background-color: #555;
                box-sizing: border-box;

                &.calendar-0 {
                    border-left-color: #33b84c;
                }

                &.calendar-1 {
                    border-left-color: #337eb8;
                }

                h3 {
                    display: block;
                    width: 100%;
                    font-size: 22px;
                    margin: 0 0 8px 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                span {
                    display: block;
                    width: 100%;
                    font-size: 16px;
                }
            }
        }
    }

    .separator {
        float: left;
        width: 1px;
        height: 264px;
        margin: 0 15px 0 15px;
        background-color: white;
    }
}